.concept {
    margin-bottom: 74px;
}

.concept .section__title{
    margin-bottom: 49px;
}

.concept__block{
    display: flex;
    gap: 52px;
    align-items: start;
}

.concept__block .block__left{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 50%;
}

.concept__block .block__left p{
    color: #FFF;
    font-size: 24px;
    line-height: 32px;
}

.concept__block .block__left span{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 1260px) {
    .concept__block{
        gap: 24px;
    }

    .concept__block .block__left{
        gap: 24px;
    }

    .concept{
        margin-bottom: 60px;
    }

    .concept .section__title{
        margin-bottom: 24px;
    }

    .concept .concept__block .block__left{
        width: 100%;
    }
}

@media (max-width: 880px) {
    .concept__block{
        flex-direction: column;
    }
}
